body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.titlesDiv {
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #33415C;
    position: absolute;
    color: #fff;
}

.addTask {
    margin-top: 10%;
    margin-left: 16%;
    border: none;
    background-color: #979DAC ;
    padding: 0.3em 1.2em;
    border: 0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roberto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgb(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}

.addTask:hover {
    border-color: rgb(31, 31, 31);
} 

.sidebar {
    z-index: 0;
    margin-top: 3%;
    height: 100%;
    min-width: 10%;
    max-width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: #5C677D;
    color: #ffffff;
    font-family: sans-serif;
}

.sidebar > * {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    display: block;
    width: 100%;
    background: none;
    border: none;
}
.sidebar button {
    text-align: center;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roberto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgb(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    color: #ffffff
}

.sidebar button:hover {
    border-color: rgb(255, 255, 255, 1);
}

.sidebar p {
    text-decoration: underline;
    text-align: center;
    width: auto;
}
.tableprojects {
    width: 100%;
    border-collapse: collapse;
    display: table;
    position: relative;
}
.tableprojects > * {
    margin: 0%;
}

.tableprojects tbody {
    display: inline-block;
    width: 100%;
    
}

.tableprojects tr {
    display: inline-block;
    width: 100%;
}

.tableprojects td{
    width: 100%;
}
.tableprojects button {
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    background: none;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    text-decoration: none;
    font-family: 'roberto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgb(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}

.tableprojects button:hover {
    background-color: #0353A4;
    color: #ffffff;
    border-color: rgb(255, 255, 255, 1);
}

.tableTodo {
    margin-top: 5%;
    margin-left: 16%;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    display: table;
}

.tableTodo tr {
    background-color: #f5f5f5;
    text-align: start;
}

.tableTodo tr:hover {
    background-color: #979DAC;
}

.tableTodo td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(202, 194, 194);
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roberto', sans-serif;
    font-weight: 300;
    color: #000000;
    transition: all 0.2s;
    background-color: #ffffff;
}

.tooltip:hover {
    color: #ffffff;
    background-color: #000000;
}

.tooltiptext {
    position: absolute;
    z-index: 1;
    padding: 0.2rem;
    background-color: #333;
    border-radius: 3px;
    font-size: 13px;
    color: #eee;
    text-align: center;
    opacity: 0.8;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.editBtn, .completeBtn{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roberto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgb(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}
.editBtn:hover, .completeBtn:hover {
    border-color: rgb(255, 255, 255, 1);
}
.editBtn{
    background-color: #5C677D;
}

.completeBtn {
    background-color: #0353A4;
}

.formDiv, .editFormDiv {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.formTodo, .editFormTodo {
    background-color: #979DAC;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px 5px 5px 5px;
    max-width: 400px;
}

.exitForm {
    float: right;
    color: #ffffff;
    background-color: #979DAC;
    border: none;
    font-size: 28px;
    font-weight: bold;
}

.exitForm:hover,
.exitForm:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.nameTitle {
    display: inline-block;
}
.nameDescription {
    display: inline-block;
}
.nameDate {
    display: inline-block;
}
.inputTitle {
    display: inline-block;
    margin-top: 3%;
    margin-left: 5%;
    width: 70%;
    overflow: hidden;
}

.inputDescription {
    display: inline-block;
    margin-left: 3%;
    width: 70%;
    overflow: hidden;
}

.inputDate {
    display: inline;
    margin-left: 5%;
}

.namePriority {
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.nameChooseProject {
    display: inline-block;
    margin-right: 5%;
}
.chooseProject, .selectPriority {
    background-color: white;
    border: 1px solid black;
    margin-right: 2%;
}

.submitForm {
    float: right;
    margin-top: 6%;
    background-color: #40916c;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.submitForm:hover,
.submitForm:focus {
    background-color: #1b4332;
    color: white;
    border-color: rgb(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}

.projectFormDiv {
    position: relative;
    width: auto;
}

.projectForm {
    width: 100%;
}

.projectTitle {
    display: inline-block;
    margin-right: 4%;
}

.inputProjectTitle {
    display: inline-block;
    width: 60%;
    overflow: hidden;
}

.Cancel {
    background-color: #d00000;
    color: #ffffff;
    border:  0.16em solid rgba(255,255,255,0);;
    border-radius: 0.5em;
    padding: 0.3em 0.3em !important;
    
}
.Cancel:hover,
.Cancel:focus {
    background-color: #9d0208 !important;
    border-color: rgb(255, 255, 255, 1);
    color: seashell !important;
    text-decoration: none;
    cursor: pointer;
}

.submitProjectForm {
    float: right;
    background-color: #40916c;
    border:  0.16em solid rgba(255,255,255,0);
    border-radius: 0.5em;
    padding: 0.4em 0.6em !important;
}

.submitProjectForm:hover,
.submitProjectForm:focus {
    background-color: #1b4332 !important;
    border-color: rgb(255, 255, 255, 1);
    color: seashell !important;
    text-decoration: none;
    cursor: pointer;
}
